.rbtv-sp--show {
    line-height: 1.2;
    font-size: 1rem;

    background-color: rgb(20,20,20);
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    overflow: hidden;

    margin: 0 5px;
}

.region.right .rbtv-sp--show {
    text-align: left;
    flex-direction: row-reverse;
}

.rbtv-sp--show__current {
    background-color: rgb(50,50,50);
    /* transform: scale(1.03); */
    margin-bottom: 1.2rem;
    border: 1px solid rgb(120,120,120);
    border-left: 5px solid rgb(120,120,120);
    margin-left: 0;
}

.rbtv-sp--show__current.rbtv-sp--show__live {
    border-left-color: red;
}

.rbtv-sp--show__current.rbtv-sp--show__premiere {
    border-left-color: #1e90ff;
}

.rbtv-sp--show + .rbtv-sp--show {
    margin-top: 1rem;
}

.rbtv-sp--show__live .rbtv-sp--show--time::before,
.rbtv-sp--show__premiere .rbtv-sp--show--time::before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
}

.rbtv-sp--show__live .rbtv-sp--show--time::before {
    background-color: red;
}

.rbtv-sp--show__premiere .rbtv-sp--show--time::before {
    background-color: #1e90ff;
}

.rbtv-sp--show--content {
    padding: .5rem;
    flex: 1;
}

.rbtv-sp--show--image {
    background-size: cover;
    flex: 0 0 40%;
}

.rbtv-sp--show--image__grayscale {
    filter: grayscale(.8) brightness(.5);
}

.region.right .rbtv-sp--show--image {
    border-radius: 0;
} 

.rbtv-sp--show--time {
    font-size: 1rem;
    font-weight: 200;
}

.rbtv-sp--show--description {
    font-size: 1rem;
    opacity: .75rem;
}

.rbtv-sp--show--title {
    font-size: 1.75rem;
}

.rbtv-sp--show--duration {
    display: inline-block;
    opacity: .5rem;
    float: right;
}
